<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome!</title>
</head>

<body>
    <h1>Hello! Please sign in first.</h1>
    <!-- SignInForm in forms.py -->
    <form method="POST">
        {{ form.csrf_token }}
        {% for msg in form.name.errors %} <br />
        <small class='error'>{{ msg }}</small>
        {% endfor %}
        {{ form.name.label }} {{ form.name }} <br />
        {% for msg in form.psword.errors %}
        <small class='error'>{{ msg }}</small> <br />
        {% endfor %}
        {{ form.psword.label }} {{ form.psword }} <br />
        {{ form.rememberMe }} {{ form.rememberMe.label }} <br />
        {{ form.submit }} <br />
    </form>
</body>
<style>
    .error {
        color: #ff0000;
    };
</style>

</html>