<!DOCTYPE html>
{% from 'macros.html' import form_field %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>创建新的笔记</title>
</head>
<body>
  <h1>New Note</h1>
  <form method="POST">
    {{ form.csrf_token }}
    {{ form_field(form.body, rows=5, cols=50) }}
    {{ form.submit }}
  </form>
</body>

<style type="text/css">
  h1 {
    text-align: center;
  }
</style>
</html>